.navbar {
  height: 65px;
  width: 100%;
  display: flex;
  color: #333;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-family: "Big Shoulders Display", cursive;
  font-size: 34px;
}
